body {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: rgb(43, 43, 43);
}

.clock {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    border: solid 5px rgb(252, 255, 255);
    margin: 150px;
    bottom: 180px;
}

#seconds-hands {
    position: absolute;
    height: 130px;
    width: 2px;
    background-color: rgb(70, 255, 255);
    left: 150px;
    bottom: 150px;
    opacity: 50%;
    transform-origin: 0 100%;
}

#minutes-hands {
    position: absolute;
    height: 100px;
    width: 2px;
    background-color: rgb(253, 120, 227);
    left: 149px;
    bottom: 149px;
    transform-origin: 0 100%;
}

#hours-hands {
    position: absolute;
    height: 80px;
    width: 4px;
    background-color: rgb(255, 245, 112);
    left: 135px;
    bottom: 148px;
    transform: 0 100%;
}

#center {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(252, 255, 55);
    left: 145px;
    bottom: 145px;
}